<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MPG Mubles</title>
        <link rel="icon" type="image/svg+xml" th:href="@{/SVG/SVGMPG.svg}">

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

                    <link rel="stylesheet" th:href="@{/css/LivingRoomInedex.css}" />
                    <link rel="stylesheet" th:href="@{/css/footer.css}" />

                    <!-- Google tag (gtag.js) -->
                    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVLKM58VVP"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag() {
                            dataLayer.push(arguments);
                        }
                        gtag('js', new Date());

                        gtag('config', 'G-ZVLKM58VVP');
                    </script>
                    </head>

                    <body>

                        <!-- NAVBAR -->
                        <header class="navbar">
                            <a th:href="@{/Home/}" class="logo" style="text-decoration: none;">MPG</a>

                            <nav class="nav-links">
                                <!-- <a href="#">Todos</a> -->
                                <a th:href="@{/sala/}">Sala</a>
                                <a th:href="@{/butacas/}">Butacas</a>
                                <a th:href="@{/dormitorios/}">Dormitorios</a>
                                <a th:href="@{/comedores/}">Comedores</a>
                                <a th:href="@{/armarios/}">Armarios</a>
                            </nav>


                        </header>

                        <!-- HERO -->
                        <section class="living-room-hero container">
                            <div class="living-room-hero-top">
                                <div class="living-room-hero-content">
                                    <p class="living-room-small-label">Colección Verano 2026</p>
                                    <h1 class="living-room-title">Muebles<br>de Sala</h1>
                                </div>

                                <div class="living-room-hero-text">
                                    <p class="living-room-description">
                                        Un equilibrio entre materiales auténticos y diseño refinado.
                                        Cada pieza de nuestra colección destaca por su carácter,
                                        su calidad artesanal y su armonía en espacios contemporáneos.
                                    </p>
                                </div>
                            </div>
                        </section>

                        <!-- PRODUCTS -->
                        <section class="living-room-products container">
                            <div class="living-room-product-grid">

                                <a th:each="producto : ${Productos}"
                                   th:href="@{/armarios/producto/{productoID}(productoID=${producto.productoID})}"
                                   class="living-room-product-card-link">

                                    <article class="living-room-product-card">
                                        <div class="living-room-image-frame">
                                            <img class="living-room-product-image"
                                                 th:src="${producto.urlPortada}"
                                                 alt="Silla elegante">

                                                <span class="living-room-badge">TOP VENTAS</span>
                                        </div>

                                        <div class="living-room-product-info">
                                            <div class="living-room-product-header">
                                                <h3 class="living-room-product-name"
                                                    th:text="${producto.productoNombre}"></h3>

                                                <span class="living-room-product-price"
                                                      th:text="${'₡' + #numbers.formatDecimal(producto.precioVenta, 1, 'POINT', 0, 'COMMA')}"></span>
                                            </div>

                                            <p class="living-room-product-description">
                                                A study in ergonomics and minimal aesthetics.
                                                Hand-carved walnut paired with premium organic textiles.
                                            </p>
                                        </div>
                                    </article>

                                </a>



                                <!-- ADD NEW CARD -->
                                <div clas="">

                                </div>
                        </section>





                        <!-- FOOTER -->
                        <th:block th:replace="~{general/fragmentos :: footer}"></th:block>

                    </body>

                    </html>